name: Publish Internal Release

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/android-internal-release.yml'
      - 'composeApp/**'
      - '*.gradle.kts'
      - '*.properties'
      - 'gradle/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update_code:
    name: Update files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Increase version code
        id: increase_version_code
        run: python ./scripts/increaseVersionCode.py

      - name: Clean quote backslashes
        id: clean_backslash
        run: bash ./scripts/clean-backslash.sh

      - name: Commit modified files
        id: commit_files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'Updated Version'
          file_pattern: 'version.properties composeApp/src/commonMain/composeResources/values-*/strings.xml'
          branch: master

  publish_internal_release:
    name: Publish Internal Release
    runs-on: ubuntu-latest

    needs: update_code

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Job set up
        uses: ./.github/actions/job-set-up

      - name: Decode Keystore
        run: |
          echo ${{ secrets.KEYSTORE_BASE64 }} > keystore.txt
          base64 --decode keystore.txt > keystore.jks

      - name: Decode google-services.json
        run: |
          echo ${{ secrets.GOOGLE_SERVICES_BASE64 }} > google-services.base64
          base64 --decode google-services.base64 > composeApp/google-services.json

      - name: Write local.properties
        shell: bash
        run: echo '${{ secrets.LOCAL_PROPERTIES }}' > local.properties

      - name: Build AAB
        id: build_aab
        env:
          KEYSTORE_ALIAS: ${{ secrets.KEYSTORE_ALIAS }}
          KEYSTORE_ALIAS_PASSWORD: ${{ secrets.KEYSTORE_ALIAS_PASSWORD }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        run: ./gradlew :composeApp:bundleRelease
      - name: AAB Artifact
        id: aab_artifact
        uses: actions/upload-artifact@v5
        with:
          name: AAB Artifact
          path: ./composeApp/build/outputs/bundle/release/composeApp-release.aab

      - name: Upload to Play Store
        id: upload_play_store
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_GOOGLE_CLOUD_JSON }}
          packageName: org.escalaralcoiaicomtat.android
          releaseFiles: ./composeApp/build/outputs/bundle/release/composeApp-release.aab
          track: "internal"
          inAppUpdatePriority: 2
          # mappingFile: ./base/build/outputs/mapping/release/mapping.txt
          # whatsNewDirectory: ./changelog
          status: completed
