name: Publish Internal Release

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/android-internal-release.yml'
      - 'composeApp/**'
      - '*.gradle.kts'
      - '*.properties'
      - 'gradle/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish_internal_release:
    name: Publish Internal Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Job set up
        uses: ./.github/actions/job-set-up

      - name: Decode Keystore
        run: |
          echo ${{ secrets.KEYSTORE_BASE64 }} > keystore.txt
          base64 --decode keystore.txt > keystore.jks

      - name: Decode google-services.json
        run: |
          echo ${{ secrets.GOOGLE_SERVICES_BASE64 }} > google-services.base64
          base64 --decode google-services.base64 > composeApp/google-services.json

      - name: Write local.properties
        shell: bash
        run: echo '${{ secrets.LOCAL_PROPERTIES }}' > local.properties

      - name: Build AAB
        id: build_aab
        env:
          KEYSTORE_ALIAS: ${{ secrets.KEYSTORE_ALIAS }}
          KEYSTORE_ALIAS_PASSWORD: ${{ secrets.KEYSTORE_ALIAS_PASSWORD }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        run: ./gradlew :composeApp:increaseVersionCode :composeApp:bundleRelease
      - name: AAB Artifact
        id: aab_artifact
        uses: actions/upload-artifact@v4
        with:
          name: AAB Artifact
          path: ./composeApp/build/outputs/bundle/release/composeApp-release.aab

      - name: Commit version.properties
        id: commit_version
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Increased Version Code
          file_pattern: 'version.properties'

      - name: Upload to Play Store
        id: upload_play_store
        uses: r0adkll/upload-google-play@v1.1.3
        # Disabled since cannot upload instant apps through API
        if: false
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_GOOGLE_CLOUD_JSON }}
          packageName: org.escalaralcoiaicomtat.android
          releaseFiles: ./composeApp/build/outputs/bundle/release/composeApp-release.aab
          track: "instant:qa"
          inAppUpdatePriority: 2
          # mappingFile: ./base/build/outputs/mapping/release/mapping.txt
          # whatsNewDirectory: ./changelog
          status: completed
