name: Build for Desktop

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/build-desktop.yml'
      - '**/*.gradle.kts'
      - '**/*.properties'
      - 'gradle/**'
      - 'composeApp/src/commonMain/**'
      - 'composeApp/src/desktopMain/**'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Job set up
        uses: ./.github/actions/job-set-up

      - name: Build
        run: ./gradlew packageDistributionForCurrentOS

      - name: Upload built artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: composeApp/build/compose/binaries/main/**
