name: Run tests for platforms

on: pull_request

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Job set up
        uses: ./.github/actions/job-set-up

      - name: Write local.properties
        shell: bash
        run: echo '${{ secrets.LOCAL_PROPERTIES }}' > local.properties

      - name: Run tests
        run: ./gradlew check
